.App {
  text-align: center;
}
.budget {
  border: 2px solid green;
  padding: 20px;
  width: 300px;
  margin: 10px;
}
.expense {
  border: 2px solid brown;
  padding: 20px;
  width: 300px;
  margin: 10px;
}
.signup {
  width: 70%;
  height: 90vh;
  margin: 5vh auto;
  background-color: pink;
}
.textfield {
  width: 300px;
}
